body{
    text-align: center;
}
ul.dropdown-menu>li { text-align: center; }

.my_nav_bar{
    position:sticky;
    top:0;
    z-index: 999;
}
.menu{
    text-align: center;
}
dropdown {text-align:center;}
.button, .dropdown-menu {margin:10px auto}
.dropdown-menu {width:200px; left:50%; margin-left:-100px;}